# Database
MONGODB_URI=mongodb://localhost:27017/chatdb

# Redis
REDIS_URL=redis://localhost:6379

# Auth Service
AUTH_SERVICE_URL=http://auth-service:3000/api/auth/verify

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=chat-media

# Server
PORT=3001
NODE_ENV=development

# Security
JWT_SECRET=26a886a02b5bbf23259669743931f8790d4c5645ed7734d5b5c328000d51cdede374e2bdf5121e1813570fb671f95d6a1ed16cf138351f1a1da227f7a3d68be3